<%- include('../layout/header') %>

    <div class="container-fluid mt-4">
        <div class="container">
            <div class="p-5 rounded-3 bg-secondary">
                <h1 class="display-5 fw-bold text-primary">
                    <%= titre %>
                </h1>
                <p class="col-md-12 fs-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Libero doloribus, facere sint distinctio reprehenderit, similique fuga molestiae adipisci
                    optio deserunt expedita ab veniam aperiam repellendus quia culpa possimus! Dolores, aperiam.
                </p>
                <hr>

                <form action="<%= action %>" enctype="multipart/form-data" method="POST" class="needs-validation"
                    novalidate>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="NOM" id="nom" name="nom" required>
                                <label class="required">NOM</label>
                                <div class="invalid-feedback">
                                    Choisir un nom valide !
                                </div>
                                <div class="valid-feedback">
                                    Nom valide
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="Prénom" id="prenom" name="prenom" required>
                                <label class="required">Prénom</label>
                                <div class="invalid-feedback">
                                    Choisir un prénom valide !
                                </div>
                                <div class="valid-feedback">
                                    Prénom valide
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <select class="form-control" id="sexe" name="sexe" required>
                                    <option value="" disabled selected>Choisir un sexe</option>
                                    <option value="M">Masculin</option>
                                    <option value="F">Féminin</option>
                                </select>
                                <label class="required">Sexe</label>
                                <div class="invalid-feedback">
                                    Choisir un sexe valide !
                                </div>
                                <div class="valid-feedback">
                                    Sexe valide
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="datepicker_input form-control" placeholder="Date de naissance" id="date" name="date" required>
                                <label class="required">Date de naissance</label>
                                <div class="invalid-feedback">
                                    Choisir une date de naissance valide !
                                </div>
                                <div class="valid-feedback">
                                    Date de naissance valide
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" placeholder="Email" id="email" name="email" required>
                                <label class="required">Email</label>
                                <div class="invalid-feedback">
                                    Choisir un email valide !
                                </div>
                                <div class="valid-feedback">
                                    Email valide
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="tel" class="form-control" placeholder="Numéro de téléphone" id="tel" name="tel" required>
                                <label class="required">Numéro de téléphone</label>
                                <div class="invalid-feedback">
                                    Choisir un numéro de téléphone valide !
                                </div>
                                <div class="valid-feedback">
                                    Numéro de téléphone valide !
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <select class="form-control" id="classe" name="classe" required>
                                    <option value="" disabled selected>Choisir une classe</option>
                                    <% lesClasses.forEach(function(uneClasse){ %>
                                        <option value="<%= uneClasse.classe_id %>"><%= uneClasse.classe_libelle %></option>
                                    <% })%>
                                </select>
                                <label class="required">Classe</label>
                                <div class="invalid-feedback">
                                    Choisir un classe valide !
                                </div>
                                <div class="valid-feedback">
                                    Classe valide
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="datepicker_input_year form-control" placeholder="Choisir une année scolaire" id="annee" name="annee" required>
                                <label class="required">Choisir une année scolaire</label>
                                <div class="invalid-feedback">
                                    Choisir une année scolaire valide !
                                </div>
                                <div class="valid-feedback">
                                    Année scolaire valide
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mt-3">
                            <button class="btn btn-primary w-100" type="submit">
                                <%= titre %>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <% if (modifier) { %>
    <script>
        window.addEventListener("load", function () {
            $("#test1").val('<%= test %>');
            $("#test").val('<%= test %>').change();
        });
    </script>
    <% } %>

    <%- include('../layout/footer') %>