<%- include('../layout/header') %>

    <div class="container-fluid bg-secondary py-5">
        <div class="container">
            <div>
                <h1 class="display-5 fw-bold text-primary">
                    <%= titre %>
                </h1>
                <p class="col-md-12 fs-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
                    doloribus, facere sint distinctio reprehenderit, similique fuga molestiae adipisci optio deserunt
                    expedita ab veniam aperiam repellendus quia culpa possimus! Dolores, aperiam.
                </p>
                <hr>

                <div class="row">
                    <div class="col-md-6  col-sm-12 col-12">
                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Informations</h5>
                                <hr>
                                <h5 class="card-text my-4"><b>Année Scolaire : </b>
                                    <%= uneEval.cursus_anneeScolaire %>
                                </h5>
                                <h5 class="card-text my-4"><b>Cursus : </b>
                                    <%= uneEval.classe_libelle %> <%= uneEval.cursus_libelle %>
                                </h5>
                                <h5 class="card-text my-4"><b>Professeur : </b>
                                    <%= uneEval.user_nom  %> <%= uneEval.user_prenom  %>
                                </h5>
                                <h5 class="card-text my-4"><b>Matière : </b>
                                    <%= uneEval.matiere_libelle %>
                                </h5>
                                <h5 class="card-text my-4"><b>Description : </b>
                                    <%= uneEval.eval_desc %>
                                </h5>
                                <h5 class="card-text my-4"><b>Date : </b>
                                    <%= uneEval.eval_date %>
                                </h5>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="card my-3">
                            <div class="card-body">
                                <h5 class="card-title">Les notes</h5>
                                <hr>
                                <% lesEleves.forEach(function(unEleve){ %>
                                <p class="card-text"><b>Élève :</b> <%= unEleve.user_nom %> <%= unEleve.user_prenom %>
                                    <span class="float-end"><b><% if(unEleve.note_valeur) { %><%= unEleve.note_valeur %>%<% } else { %>Absent<% } %></b></span></p>
                                <% })%>
                                <hr>
                                <p class="cardtext"><b>Moyenne : <% if(moy) { %><%= moy %>%<% } else { %> à definir <% } %></b></p>
                                <p class="cardtext"><b>Meilleur note : <% if(max) { %><%= max %>%<% } else { %> à definir <% } %></b></p>
                                <p class="cardtext"><b>Pire note : <% if(min) { %><%= min %>%<% } else { %> à definir <% } %></b></p>
                             </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>


    </div>



    <%- include('../layout/footer') %>