<%- include('../layout/header') %>

    <div class="container-fluid bg-secondary py-5">
        <div class="container">
            <div>
                <h1 class="display-5 fw-bold text-primary">
                    <%= titre %>
                </h1>
 
                <hr>

                <div class="row">
                    <div class="col-md-6  col-sm-12 col-12">
                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Informations</h5>
                                <hr>
                                <h5 class="card-text my-4"><b>Année Scolaire : </b>
                                    <%= uneEval.cursus_anneeScolaire %>
                                </h5>
                                <h5 class="card-text my-4"><b>Cursus : </b>
                                    <%= uneEval.classe_libelle %> <%= uneEval.cursus_libelle %>
                                </h5>
                                <h5 class="card-text my-4"><b>Professeur : </b>
                                    <%= uneEval.user_nom  %> <%= uneEval.user_prenom  %>
                                </h5>
                                <h5 class="card-text my-4"><b>Matière : </b>
                                    <%= uneEval.matiere_libelle %>
                                </h5>
                                <h5 class="card-text my-4"><b>Description : </b>
                                    <%= uneEval.eval_desc %>
                                </h5>
                                <h5 class="card-text my-4"><b>Date : </b>
                                    <%= uneEval.eval_date %>
                                </h5>
                                <h5 class="card-text my-4"><b>Trimestre : </b>
                                    Trimestre <%= uneEval.eval_trimestre %>
                                </h5>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-12 col-12">
                        <div class="card my-3">
                            <div class="card-body">
                                <h5 class="card-title">Les notes</h5>
                                <hr>
                                <% lesEleves.forEach(function(unEleve){ %>
                                <h5 class="card-text my-4"><%= unEleve.user_nom %> <%= unEleve.user_prenom %>
                                    <span class="float-end"><b><% if(unEleve.note_valeur !== null && typeof unEleve.note_valeur !== "undefined") { %><%= unEleve.note_valeur %>%<% } else { %>Absent<% } %></b></span></h5>
                                <% })%>
                                <hr>
                                <h5 class="card-text my-4"><b>Moyenne :</b> <% if(typeof moy !== "undefined") { %><%= moy %>%<% } else { %> à definir <% } %></h5>
                                <h5 class="card-text my-4"><b>Meilleur note :</b> <% if(typeof max !== "undefined") { %><%= max %>%<% } else { %> à definir <% } %></h5>
                                <h5 class="card-text my-4"><b>Pire note :</b> <% if(typeof min !== "undefined") { %><%= min %>%<% } else { %> à definir <% } %></h5>
                             </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>


    </div>



    <%- include('../layout/footer') %>