<%- include('../layout/header') %>


    <div class="container-fluid bg-secondary py-5">
        <div class="container">
            <div>
                <h1 class="display-5 fw-bold text-primary">
                    <%= titre %>
                </h1>
                <p class="col-md-12 fs-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
                    doloribus, facere sint distinctio reprehenderit, similique fuga molestiae adipisci optio deserunt
                    expedita ab veniam aperiam repellendus quia culpa possimus! Dolores, aperiam.
                </p>
                <hr>

                <form action="<%= action %>" method="POST" class="needs-validation" novalidate>
                    <% if(modifier == 0) { %>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <select class="form-control" id="cursus" name="cursus" required>
                                    <option value="" disabled selected>Choisir une classe</option>
                                    <% lesCursus.forEach(function(unCursus){ %>
                                        <option value="<%= unCursus.cursus_id %>">
                                            <%= unCursus.classe_libelle %>
                                                <%= unCursus.cursus_libelle %> (<%= unCursus.cursus_anneeScolaire %>)
                                        </option>
                                        <% })%>
                                </select>
                                <label class="required">Classe</label>
                                <div class="invalid-feedback">
                                    Choisir une classe valide !
                                </div>
                                <div class="valid-feedback">
                                    Classe valide
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <select class="form-control" id="matiere" name="matiere" required>
                                    <option value="" disabled selected>Choisir une matière</option>
                                    <% lesMatieresParCursus.forEach(function(uneMatiere){ %>
                                        <option value="<%= uneMatiere.matiere_id %>" class="<%= uneMatiere.cursus_prof_idCursus %>">
                                            <%= uneMatiere.matiere_libelle %> (Prof. <%= uneMatiere.user_prenom %> <%= uneMatiere.user_nom %>)
                                        </option>
                                        <% })%>
                                </select>
                                <label class="required">Matière</label>
                                <div class="invalid-feedback">
                                    Choisir une matière valide !
                                </div>
                                <div class="valid-feedback">
                                    Matière valide
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } else { %>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-12 mt-3">
                                <div class="form-floating mb-3">
                                    <select class="form-control" id="cursus" name="cursus" disabled required>
                                        <option value="<%= uneEval.cursus_id %>" disabled selected>
                                            <%= uneEval.classe_libelle %> <%= uneEval.cursus_libelle %> (<%= uneEval.cursus_anneeScolaire %>)</option>
                                    </select>
                                    <label class="required">Classe</label>
                                    <div class="invalid-feedback">
                                        Choisir une classe valide !
                                    </div>
                                    <div class="valid-feedback">
                                        Classe valide
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-6 col-sm-12 col-12 mt-3">
                                <div class="form-floating mb-3">
                                    <select class="form-control" id="matiere" name="matiere" disabled required>
                                         <option value="<%= uneEval.matiere_id %>" class="<%= uneEval.cursus_prof_idCursus %>" disabled selected>
                                            <%= uneEval.matiere_libelle %> (Prof. <%= uneEval.user_prenom %> <%= uneEval.user_nom %>)
                                        </option>
                                     </select>
                                    <label class="required">Matière</label>
                                    <div class="invalid-feedback">
                                        Choisir une matière valide !
                                    </div>
                                    <div class="valid-feedback">
                                        Matière valide
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>


                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="desc" id="desc" name="desc"
                                    required>
                                <label class="required">Déscription</label>
                                <div class="invalid-feedback">
                                    Choisir une déscription valide !
                                </div>
                                <div class="valid-feedback">
                                    Déscription valide
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="datepicker_input form-control" autocomplete="off"
                                    placeholder="Date de naissance" id="date" name="date"
                                    value="<% if (modifier) {%><%= uneEval.eval_date %><%} %>" required>
                                <label class="required">Date</label>
                                <div class="invalid-feedback">
                                    Choisir une date valide !
                                </div>
                                <div class="valid-feedback">
                                    Date valide
                                </div>
                            </div>
                        </div>
                    </div>

                    <% if(modifier) { %>
                        <div class="row">
                        <!-- les éleves -->
                        <div class="col-12">
                            <fieldset class="border rounded-3 p-3 mb-3" style="background-color: white;">
                                <legend class="float-none text-primary">Les élèves</legend>
                                <% lesEleves.forEach(function(unEleve, i){ %>
                                <div class="row">
                                    <div class="col mt-3">
                                        <div class="form-floating mb-3">
                                            <select class="form-control" id="eleve_<%= i+1 %>" name="eleves[]" required>
                                                <option value="<%= unEleve.user_id %>" selected><%= unEleve.user_nom + ' ' + unEleve.user_prenom %></option>
                                            </select>
                                            <label class="required">Élève <%= i+1 %></label>
                                            <div class="invalid-feedback">
                                                Choisir un élève valide !
                                            </div>
                                            <div class="valid-feedback">
                                                Élève valide
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col mt-3">
                                        <div class="form-floating mb-3">
                                            <input type="number" class="form-control" placeholder="desc" id="note_<%= i+1 %>" name="notes[]"
                                            value="<%= unEleve.note_valeur %>">
                                            <label class="required">Note <%= i+1 %></label>
                                            <div class="invalid-feedback">
                                                Choisir une note valide !
                                            </div>
                                            <div class="valid-feedback">
                                                Note valide
                                            </div>
                                        </div>
                                    </div>   
                                </div>
                                <% })%>
                            </fieldset>
                        </div>
                        </div>
                    <% } %>

                    <div class="row">
                        <div class="col-12 mt-3">
                            <button class="btn btn-primary w-100" type="submit">
                                <%= titre %>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // on cache tout dabord
        let nodeList = document.getElementById("matiere").querySelectorAll("option");
        nodeList.forEach(function (option, i) {
            if (i !== 0) {
                option.style.display = "none";
            }
        });

        document.getElementById("cursus").onchange = function () {

            let selector = document.getElementById('cursus');
            let value = selector[selector.selectedIndex].value;


            nodeList.forEach(function (option, i) {

                if (option.classList.contains(value)) {
                    option.style.display = "block";
                } else {
                    if (i !== 0) {
                        option.style.display = "none";
                    } else {
                        option.selected = true
                    }
                }

            });
        }
    </script>

    <% if (modifier) { %>
        <script>
            window.addEventListener("load", function () {
                $("#desc").val('<%= uneEval.eval_desc %>');
            });
        </script>
        <% } %>

            <%- include('../layout/footer') %>