<%- include('../layout/header') %>

    <div class="container-fluid bg-secondary py-5">
        <div class="container">
            <div>
                <h1 class="display-5 fw-bold text-primary">
                    <%= titre %>
                </h1>
                <hr>

                <div class="row">
                    <div class="col-lg-4 col-md-12  col-sm-12 col-12">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="form-floating">
                                    <select class="form-control select2" id="eleve" name="eleve" 
                                        onchange="location.href='/notes/fiche_eleve/'+this.value+'/0'"
                                        required>
                                        <option value="" disabled selected>Choisir un élève</option>
                                        <% lesEleves.forEach(function(unEleveListe){ %>
                                            <%
                                            if (typeof unEleve !='undefined' && unEleve.user_id == unEleveListe.user_id ) { 
                                                selected = "selected" 
                                            } else {
                                                selected = " "  
                                            }
                                            %>

                                            <option value="<%= unEleveListe.user_id %>" <%= selected %>>
                                                <%= unEleveListe.user_nom + ' ' + unEleveListe.user_prenom %>
                                            </option>
                                        <% })%>
                                    </select>
                                    <label class="required">Élève</label>
                                </div>
                            </div>
                        </div>

                        <% if (typeof unEleve !='undefined') { %>
                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Informations</h5>
                                <hr>
                                <h5 class="card-text my-4"><b>Nom : </b>
                                    <%= unEleve.user_nom %>
                                </h5>
                                <h5 class="card-text my-4"><b>Prénom : </b>
                                    <%= unEleve.user_prenom %>
                                </h5>
                                <h5 class="card-text my-4"><b>Date de naissance : </b>
                                    <%= unEleve.user_dateNaissance %>
                                        (<%= unEleve.user_age %>ans)
                                </h5>
                                <h5 class="card-text my-4"><b>Sexe : </b>
                                    <% if(unEleve.user_sexe=='F' ) { %>
                                        Féminin
                                        <% } else { %>Masculin<% } %>
                                </h5>
                                <h5 class="card-text my-4"><b>Tél : </b>
                                    <%= unEleve.user_tel%>
                                </h5>
                                <h5 class="card-text my-4"><b>Email : </b>
                                    <%= unEleve.user_mail %>
                                </h5>
                            </div>
                        </div>
                        <% } %>
                    </div>

                    <% if (typeof unEleve !='undefined') { %>
                    <div class="col-lg-8 col-md-12  col-sm-12 col-12">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="form-floating">
                                    <select class="form-control select2" id="classe" name="classe"
                                    onchange="location.href='/notes/fiche_eleve/<%= unEleve.user_id %>/'+this.value"
                                        required>
                                        <option value="" disabled selected>Choisir une classe</option>
                                        <% lesCursus.forEach(function(unCursusListe){ %>
                                            <%
                                            if (typeof unCursus !='undefined' && unCursus.cursus_id == unCursusListe.cursus_id ) { 
                                                selected = "selected" 
                                            } else {
                                                selected = " "  
                                            }
                                            %>
                                            <option value="<%= unCursusListe.cursus_id %>" <%= selected %>>
                                                <%= unCursusListe.classe_libelle %>
                                                    <%= unCursusListe.cursus_libelle %> (<%= unCursusListe.cursus_anneeScolaire %>)
                                            </option>
                                            <% })%>
                                    </select>
                                    <label class="required">Classe</label>
                                </div>
                            </div>
                        </div>

                        <% if (typeof unCursus !='undefined') { %>
                        <div class="card mt-3">
                            <div class="card-body">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item">
                                        <button class="nav-link active" data-bs-toggle="pill"
                                            data-bs-target="#area-notes">Les notes</button>
                                    </li>
                                    <li class="nav-item">
                                        <button class="nav-link" data-bs-toggle="pill"
                                            data-bs-target="#area-graphes">Les graphes</button>
                                    </li>
                                </ul>
                                <hr>
                                <div class="tab-content">
                                    <!-- notes -->
                                    <div class="tab-pane fade show active" id="area-notes">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="lien nav-link active" data-bs-toggle="tab"
                                                    data-bs-target="#T1">Trimestre 1</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="lien nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#T2">Trimestre 2</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="lien nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#T3">Trimestre 3</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="lien nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#T4">Annuel</button>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <!-- les trimestres -->
                                            <div class="tab-pane fade show active" id="T1">
                                                <div>
                                                    <!-- les cartes -->
                                                    <% lesMatieres.forEach(function(uneMatiere){ %>
                                                    <div class="card border-1 border-1 my-4">
                                                        <div class="card-header text-primary fs-5 cursor-pointer"    onclick="showModalNotes('Détail classe', 'test')">
                                                            <div>
                                                                Français
                                                                <span class="float-end ">
                                                                    60%
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <ul class="list-group list-group-flush">
                                                            <li class="list-group-item ">15/11/2021 : Eval 1
                                                                <span class=" float-end">
                                                                    60%
                                                                </span>
                                                                <div class="row">
                                                                    <div class="col-12 col-lg-3 figure-caption">Moyenne:
                                                                        60%
                                                                    </div>
                                                                    <div class="col-12 col-lg-3 figure-caption">
                                                                        Meilleur:
                                                                        60%</div>
                                                                    <div class="col-12 col-lg-3  figure-caption">Pire:
                                                                        60%
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item ">15/11/2021 : Eval 1
                                                                <span class=" float-end">
                                                                    60%
                                                                </span>
                                                                <div class="row">
                                                                    <div class="col-12 col-lg-3 figure-caption">Moyenne:
                                                                        60%
                                                                    </div>
                                                                    <div class="col-12 col-lg-3 figure-caption">
                                                                        Meilleur:
                                                                        60%</div>
                                                                    <div class="col-12 col-lg-3  figure-caption">Pire:
                                                                        60%
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <% })%>

                                                    <!-- fin des cartes -->
                                                    <div class="border border-1 py-1 ps-2">
                                                        <span class="mt-5">Moyenne élève : 60%</span>
                                                    </div>
                                                    <div class="border border-1 py-1 ps-2 mt-3">
                                                        <span class="mt-5">Moyenne classe : 60%</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="T2">...</div>
                                            <div class="tab-pane fade" id="T3">...</div>
                                            <div class="tab-pane fade" id="T4">...</div>
                                        </div>
                                    </div>

                                    <!-- graphes -->
                                    <div class="tab-pane fade" id="area-graphes">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="lien nav-link active" data-bs-toggle="tab"
                                                    data-bs-target="#T1-2">Trimestre 1</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="lien nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#T2-2">Trimestre 2</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="lien nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#T3-2">Trimestre 3</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="lien nav-link" data-bs-toggle="tab"
                                                    data-bs-target="#T4-2">Annuel</button>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <!-- les trimestres -->
                                            <div class="tab-pane fade show active" id="T1-2"></div>
                                            <div class="tab-pane fade" id="T2-2">...</div>
                                            <div class="tab-pane fade" id="T3-2">...</div>
                                            <div class="tab-pane fade" id="T4-2">...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layout/footer') %>