<%- include('../layout/header') %>

    <div class="container-fluid bg-secondary py-5">
        <div class="container">
            <div>
                <h1 class="display-5 fw-bold text-primary">
                    <%= titre %>
                </h1>
                <p class="col-md-12 fs-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
                    doloribus, facere sint distinctio reprehenderit, similique fuga molestiae adipisci optio deserunt
                    expedita ab veniam aperiam repellendus quia culpa possimus! Dolores, aperiam.
                </p>
                <hr>

                <div class="row">
                    <div class="col-lg-4 col-md-6  col-sm-12 col-12">
                        <div class="card mt-3">
                            <div class="card-body">
                                <h5 class="card-title">Informations</h5>
                                <hr>
                                <h5 class="card-text my-4"><b>Nom : </b>
                                    <%= unEleve.user_nom %>
                                </h5>
                                <h5 class="card-text my-4"><b>Prénom : </b>
                                    <%= unEleve.user_prenom %>
                                </h5>
                                <h5 class="card-text my-4"><b>Date de naissance : </b>
                                    <%= unEleve.user_dateNaissance %>
                                        (<%= unEleve.user_age %>ans)
                                </h5>
                                <h5 class="card-text my-4"><b>Sexe : </b>
                                    <% if(unEleve.user_sexe=='F' ) { %>
                                        Féminin
                                        <% } else { %>Masculin<% } %>
                                </h5>
                                <h5 class="card-text my-4"><b>Tél : </b>
                                    <%= unEleve.user_tel%>
                                </h5>
                                <h5 class="card-text my-4"><b>Email : </b>
                                    <%= unEleve.user_mail %>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-6  col-sm-12 col-12">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="form-floating">
                                    <select class="form-control select2" id="classe" name="classe" onchange="showDiv('hidden_div', 1)" required>
                                        <option value="" selected>Choisir une classe</option>
                                        <option value="red">6eme A</option>
                                        <option value="green">6edsqdqme A</option>
                                    </select>
                                    <label class="required">Classe</label>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3" class="box red">
                            <div class="card-body">
                                <h5 class="card-title">Les notes red</h5>
                                <hr>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                      <button class="lien nav-link active" data-bs-toggle="tab" data-bs-target="#T1">Trimestre 1</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="lien nav-link" data-bs-toggle="tab" data-bs-target="#T2">Trimestre 2</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="lien nav-link" data-bs-toggle="tab" data-bs-target="#T3">Trimestre 3</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="lien nav-link" data-bs-toggle="tab" data-bs-target="#T4">Annuel</button>
                                      </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="T1"></div>
                                    <div class="tab-pane fade" id="T2">...</div>
                                    <div class="tab-pane fade" id="T3">...</div>
                                    <div class="tab-pane fade" id="T4">...</div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-3" class="box green">
                            <div class="card-body">
                                <h5 class="card-title">Les notes red</h5>
                                <hr>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                      <button class="lien nav-link active" data-bs-toggle="tab" data-bs-target="#T1">Trimestre 1</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="lien nav-link" data-bs-toggle="tab" data-bs-target="#T2">Trimestre 2</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                      <button class="lien nav-link" data-bs-toggle="tab" data-bs-target="#T3">Trimestre 3</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="lien nav-link" data-bs-toggle="tab" data-bs-target="#T4">Annuel</button>
                                      </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="T1"></div>
                                    <div class="tab-pane fade" id="T2">...</div>
                                    <div class="tab-pane fade" id="T3">...</div>
                                    <div class="tab-pane fade" id="T4">...</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>



    <%- include('../layout/footer') %>