<%- include('../layout/header') %>

    <div class="container-fluid bg-secondary py-5">
        <div class="container">
            <div>
                <h1 class="display-5 fw-bold text-primary">
                    <%= titre %>
                </h1>
                <p class="col-md-12 fs-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
                    doloribus, facere sint distinctio reprehenderit, similique fuga molestiae adipisci optio deserunt
                    expedita ab veniam aperiam repellendus quia culpa possimus! Dolores, aperiam.
                </p>
                <hr>

                <table id="dataTable" class="table" style="width:100%">
                    <thead class="bg-primary" >
                        <tr>
                            <th>Année Scolaire</th>
                            <th>Cursus</th>
                            <th>Professeur</th>
                            <th>Matière</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% lesNotes.forEach(function(uneNote){ %>
                            <tr>
                                <td>
                                    <%= uneNote.cursus_anneeScolaire %>
                                </td>
                                <td>
                                    <%= uneNote.classe_libelle %> <%= uneNote.cursus_libelle %>
                                </td>
                                <td>
                                    <%= uneNote.user_nom  %> <%= uneNote.user_prenom  %>
                                </td>
                                <td>
                                    <%= uneNote.matiere_libelle %>
                                </td>
                                <td>
                                    <%= uneNote.eval_desc %>
                                </td>
                                <td>
                                    <%= uneNote.eval_date %>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary action_table"
                                        onclick="showModalDetail('Détail évaluation <%= uneNote.eval_id %>', {'Année Scolaire':'<%= uneNote.cursus_anneeScolaire %>','Cursus': '<%= uneNote.classe_libelle %> <%= uneNote.cursus_libelle %>', 'Professeur': '<%= uneNote.user_nom  %> <%= uneNote.user_prenom  %>','Matière': '<%= uneNote.matiere_libelle %>','Description': '<%= uneNote.eval_desc %>', 'Date': '<%= uneNote.eval_date %>'}, 'fiche/<%= uneNote.eval_id %>')"><i
                                            class="fas fa-eye"></i></button>
                                    <button type="button" class="btn btn-success action_table"
                                        onclick="location.href = 'modifier/<%= uneNote.eval_id %>';"><i
                                            class="fas fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger action_table"
                                        onclick="showModalSupprimer('Supprimer évaluation <%= uneNote.eval_id %>', 'Évaluation <%= uneNote.eval_id %>', 'supprimer/<%= uneNote.eval_id %>')"><i
                                            class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <% })%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('../layout/footer') %>