<%- include('../layout/header') %>


    <div class="container-fluid bg-secondary py-5">
        <div class="container">
            <div>
                <h1 class="display-5 fw-bold text-primary">
                    <%= titre %>
                </h1>
                <p class="col-md-12 fs-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
                    doloribus, facere sint distinctio reprehenderit, similique fuga molestiae adipisci optio deserunt
                    expedita ab veniam aperiam repellendus quia culpa possimus! Dolores, aperiam.
                </p>
                <hr>

                <form action="<%= action %>" method="POST" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="NOM" id="nom" name="nom" required>
                                <label class="required">NOM</label>
                                <div class="invalid-feedback">
                                    Choisir un nom valide !
                                </div>
                                <div class="valid-feedback">
                                    Nom valide
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" placeholder="Prénom" id="prenom" name="prenom"
                                    required>
                                <label class="required">Prénom</label>
                                <div class="invalid-feedback">
                                    Choisir un prénom valide !
                                </div>
                                <div class="valid-feedback">
                                    Prénom valide
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <select class="form-control" id="sexe" name="sexe" required>
                                    <option value="" disabled selected>Choisir un sexe</option>
                                    <option value="M">Masculin</option>
                                    <option value="F">Féminin</option>
                                </select>
                                <label class="required">Sexe</label>
                                <div class="invalid-feedback">
                                    Choisir un sexe valide !
                                </div>
                                <div class="valid-feedback">
                                    Sexe valide
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="text" class="datepicker_input form-control" autocomplete="off"
                                    placeholder="Date de naissance" id="date" name="date"
                                    value="<% if (modifier) {%><%=unProf.user_dateNaissance%><%} %>" required>
                                <label class="required">Date de naissance</label>
                                <div class="invalid-feedback">
                                    Choisir une date de naissance valide !
                                </div>
                                <div class="valid-feedback">
                                    Date de naissance valide
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" placeholder="Email" id="email" name="email"
                                    required>
                                <label class="required">Email</label>
                                <div class="invalid-feedback">
                                    Choisir un email valide !
                                </div>
                                <div class="valid-feedback">
                                    Email valide
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <input type="tel" class="form-control" placeholder="Numéro de téléphone" id="tel"
                                    name="tel" required>
                                <label class="required">Numéro de téléphone</label>
                                <div class="invalid-feedback">
                                    Choisir un numéro de téléphone valide !
                                </div>
                                <div class="valid-feedback">
                                    Numéro de téléphone valide !
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <select class="form-control select2" id="matiere" name="matiere" required>
                                    <option value="" disabled selected>Choisir une matière</option>
                                    <% lesMatieres.forEach(function(uneMatiere){ %>
                                        <option value="<%= uneMatiere.matiere_id %>"><%= uneMatiere.matiere_libelle %></option>
                                    <% })%>
                                </select>
                                <label class="required">Matière</label>
                                <div class="invalid-feedback">
                                    Choisir une matière valide !
                                </div>
                                <div class="valid-feedback">
                                    Matière valide
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-12 col-12 mt-3">
                            <div class="form-floating mb-3">
                                <select class="form-control" id="principal" name="principal" required>
                                    <option value="" disabled selected>Choisir une option</option>
                                        <option value="0">Non</option>
                                        <option value="1">Oui</option>
                                </select>
                                <label class="required">Professeur principal</label>
                                <div class="invalid-feedback">
                                    Choisir une option valide !
                                </div>
                                <div class="valid-feedback">
                                    Option valide
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mt-3">
                            <button class="btn btn-primary w-100" type="submit">
                                <%= titre %>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
    </script>

    <% if (modifier) { %>
        <script>
            window.addEventListener("load", function () {
                $("#nom").val('<%= unProf.user_nom %>');
                $("#prenom").val('<%= unProf.user_prenom %>');
                $("#sexe").val('<%= unProf.user_sexe %>').change();
                $("#email").val('<%= unProf.user_mail %>');
                $("#tel").val('<%= unProf.user_tel %>');
                $("#matiere").val('<%= unProf.user_idMatiere%>').change();
                $("#principal").val('<%= unProf.user_isProfPrincipal %>').change();
            });
        </script>
        <% } %>

            <%- include('../layout/footer') %>