<%- include('../layout/header') %>

    <div class="container-fluid bg-secondary py-5">
        <div class="container">
            <div>
                <h1 class="display-5 fw-bold text-primary">
                    <%= titre %>
                </h1>
                <p class="col-md-12 fs-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
                    doloribus, facere sint distinctio reprehenderit, similique fuga molestiae adipisci optio deserunt
                    expedita ab veniam aperiam repellendus quia culpa possimus! Dolores, aperiam.
                </p>
                <hr>

                <table id="dataTable" class="table" style="width:100%">
                    <thead class="bg-primary" >
                        <tr>
                            <th>Professeur</th>
                            <th>Sexe</th>
                            <th>Tél</th>
                            <th>Email</th>
                            <th>Matière</th>
                            <th>Professeur principal</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% lesProfs.forEach(function(unProf){ %>
                            <tr>
                                <td>
                                    <%= unProf.user_nom + ' ' + unProf.user_prenom + ' (' +unProf.user_age+' ans)' %>
                                </td>
                                <td>
                                    <%= unProf.user_sexe %>
                                </td>
                                <td>
                                    <%= unProf.user_tel %>
                                </td>
                                <td>
                                    <%= unProf.user_mail %>
                                </td>
                                <td>
                                    <%= unProf.matiere_libelle %>
                                </td>
                                <td>
                                    <% if (unProf.user_isProfPrincipal) { 
                                        principal = "Oui"
                                    } else { 
                                        principal = "Non" 
                                    } %> 
                                    <%= principal %>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary action_table"
                                        onclick="showModalDetail('Détail élève <%= unProf.user_id %>', {'NOM': '<%= unProf.user_nom %>', 'Prénom': '<%= unProf.user_prenom %>','Date de naissance': '<%= unProf.user_dateNaissance + ` (` + unProf.user_age + `ans)` %>','Sexe': '<%= unProf.user_sexe %>','Tél': '<%= unProf.user_tel %>','Email': '<%= unProf.user_mail %>','Matière': '<%= unProf.matiere_libelle %>','Professeur principal': '<%= principal %>'}, 'fiche/<%= unProf.user_id %>')"><i
                                            class="fas fa-eye"></i></button>
                                    <button type="button" class="btn btn-success action_table"
                                        onclick="location.href = 'modifier/<%= unProf.user_id %>';"><i
                                            class="fas fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger action_table"
                                        onclick="showModalSupprimer('Détail élève <%= unProf.user_id %>', 'Élève <%= unProf.user_id %>', 'supprimer/<%= unProf.user_id %>')"><i
                                            class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <% })%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('../layout/footer') %>