<%- include('../layout/header') %>

    <div class="container-fluid bg-secondary py-5">
        <div class="container">
            <div>
                <h1 class="display-5 fw-bold text-primary">
                    <%= titre %>
                </h1>
                <p class="col-md-12 fs-4 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
                    doloribus, facere sint distinctio reprehenderit, similique fuga molestiae adipisci optio deserunt
                    expedita ab veniam aperiam repellendus quia culpa possimus! Dolores, aperiam.
                </p>
                <hr>

                <table id="dataTable" class="table" style="width:100%">
                    <thead class="bg-primary" >
                        <tr>
                            <th>Année Scolaire</th>
                            <th>Classe</th>
                            <th>Libellé</th>
                            <th>Prof Principal</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% lesClasses.forEach(function(uneClasse){ %>
                            <tr>
                                <td>
                                    <%= uneClasse.cursus_anneeScolaire %>
                                </td>
                                <td>
                                    <%= uneClasse.classe_libelle  %>
                                </td>
                                <td>
                                    <%= uneClasse.cursus_libelle %>
                                </td>
                                <td>
                                    <%= uneClasse.user_nom + ' ' + uneClasse.user_prenom %>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary action_table"
                                        onclick="showModalDetail('Détail classe <%= uneClasse.cursus_id %>', {'Année Scolaire': '<%= uneClasse.cursus_anneeScolaire %>', 'Classe': '<%= uneClasse.classe_libelle  %>','Libellé': '<%= uneClasse.cursus_libelle %>','Professeur principal': '<%= uneClasse.user_nom + ` ` + uneClasse.user_prenom %>'}, 'fiche/<%= uneClasse.cursus_id %>')"><i
                                            class="fas fa-eye"></i></button>
                                    <button type="button" class="btn btn-success action_table"
                                        onclick="location.href = 'modifier/<%= uneClasse.cursus_id %>';"><i
                                            class="fas fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger action_table"
                                        onclick="showModalSupprimer('Détail classe <%= uneClasse.cursus_id %>', 'Élève <%= uneClasse.cursus_id %>', 'supprimer/<%= uneClasse.cursus_id %>')"><i
                                            class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                            <% })%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('../layout/footer') %>